<% include ../partials/header %>
            
            <div class="heading">
                     <h1>Welcome to Pictureich</h1>
                     <a class="btn btn-outline-primary" href="/artcraft/new">Add New Photograph</a>
            </div>
            <div class="background">   
                <div class="container">
                    <div class="row" style="display: flex; flex-wrap: wrap;">
                            <% artcraft.forEach(function(items){ %>
                             <div class="col-md-4 col-sm-6">
                                <div class="card" style="width: 18rem;">
                                      <img class="card-img-top" src="<%= items.image %>" alt="Card image cap">
                                      <div class="card-body">
                                            <h6 class="card-title"><%= items.title %></h6>
                                            <p class="card-text"><%= items.description.substring(0, 50) %> . . .</p>
                                            <a href="/artcraft/<%= items._id %>" class="btn btn-outline-primary">More Info</a>
                                      </div>
                                </div>
                             </div>
                            <% }); %>
                    </div>
                </div>
            </div>
            
             <div class="footer">
                <p>&copy; Copyright 2019 by Rituraj Dutta</p>
            </div>
<% include ../partials/footer %>
